<!-- Footer -->
<footer class="bg-dark text-light py-4" >
  <div class="container h100">
    <div class="row align-items-center">
      <!-- Logo y redes sociales -->
      <div class="col-md-4 d-flex align-items-center">
        <span class="navbar-brand fw-bold text-light">LigaAmateur</span>
        <a href="#" class="ms-3 text-light"><i class="bi bi-facebook"></i></a>
        <a href="#" class="ms-3 text-light"><i class="bi bi-instagram"></i></a>
        <a href="#" class="ms-3 text-light"><i class="bi bi-twitter"></i></a>
      </div>

      <!-- Texto de derechos de autor -->
      <div class="col-md-4 text-center">
        <small>© 2023 Liga TikiTaka. Todos los derechos reservados.</small>
      </div>

      {{!-- <!-- Enlaces de navegación -->
      <div class="col-md-4 d-flex justify-content-end">
        <a href="/" class="text-light me-3">Inicio</a>
        <a href="#" class="text-light me-3">Torneos</a>
        <a href="#" class="text-light me-3">Equipos</a>
        <a href="#" class="text-light">Contacto</a>
      </div> --}}
    </div>
  </div>
</footer>

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
