<!-- Gestión de Equipos -->
<div class="col-md-6 col-sm-12">
  <div class="card ">
    <div class="card-body text-center">
      <h5 class="card-title"><i class="bi bi-people"></i> Gestión de mi Equipo</h5>
      <p class="text-muted">Diseñada para capitanes, esta sección permite administrar fácilmente a los jugadores y mantener tu equipo listo para el próximo partido.</p>
      <button class="btn btn-dark mt-2">Mi Equipo</button>
    </div>
  </div>
</div>
