<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/dashboard/admin">
      <i class="bi bi-trophy-fill me-2"></i>FútbolAdmin
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-list-ol me-2"></i>Clasificación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-people-fill me-2"></i>Equipos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-person-fill me-2"></i>Jugadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-calendar-event-fill me-2"></i>Partidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-flag-fill"></i></i>Arbitros</a>
        </li>
      </ul>
      <a href="/" class="btn btn-outline-light ms-3">Cerrar Sesión</a>
    </div>
  </div>
</nav>
