<!-- Pr칩ximos Partidos -->
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-calendar-event"></i> Pr칩ximos Partidos</h5>
          <ul id="proximosPartidosList" class="list-unstyled">
            <!-- Datos de ejemplo, se llenar치n din치micamente -->
          </ul>
        </div>
      </div>
    </div>