<div class="container mt-5">
  <h2 class="text-center fw-bold mb-4">Goleadores del Torneo</h2>

  <div class="row gy-4">
    <div class="col-md-4 col-sm-6">
      <div class="card h-100 text-center">
        <img
          src="https://es.e-noticies.cat/filesedc/uploads/image/post/messi-primer-plano-psg_1600_1067.jpg"
          class="card-img-top"
          alt="Foto de nombre"
          style="height: 200px; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">messi</h5>
          <p class="card-text">Capibaras</p>
          <p class="fw-bold">Goles: 5</p>
        </div>
        
      </div>

      
    </div>

  </div>
</div>